@{
    Layout = null;
}
<!DOCTYPE html>
<html style="height: 100%;">
<head>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/AppProyecto.styles.css" asp-append-version="true" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Inicio de sesión</title>
    <style>
        body {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100%;
            margin: 0;
            background: linear-gradient(to bottom right, #79a7d3, #a7d3a5);
        }

        .card {
            border-radius: 30px;
            box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
            max-width: 500px;
            width: 400px;
            margin-top: 100px;
            padding: 20px;
            text-align: center;
            margin-left: -80px; /* Ajuste del margen izquierdo */
        }

        .card-header {
            padding: 10px;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            font-family: 'Arial', sans-serif;
            font-size: 1.4em;
            font-weight: bold;
            color: black;
            margin-bottom: 20px;
        }

        .logo {
            max-width: 120px;
            height: auto;
            border-radius: 15px;
        }

        .card-body {
            padding: 30px;
        }

        .form-floating {
            margin-bottom: 20px;
        }

        .btn-primary {
            background-color: #a5c9c9;
            border-color: #a5c9c9;
        }

            .btn-primary:hover {
                background-color: #95b3b3;
                border-color: #95b3b3;
            }

        .mb-0 {
            color: #ffffff;
        }

        #publicidad {
            color: #ffffff;
        }

            #publicidad:hover {
                color: #ffffff;
            }

    </style>
</head>
<body>
    <div id="layoutAuthentication">
        <div id="layoutAuthentication_content">
            <main>
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-8">
                            <div class="card shadow-lg" style="margin-top: 200px;">
                                <div class="card-header">
                                    Inicio de sesión
                                </div>
                                <div class="container d-flex justify-content-center align-items-center">
                                    <img class="logo" src="https://img.freepik.com/vector-premium/icono-circulo-usuario-anonimo-ilustracion-vector-estilo-plano-sombra_520826-1931.jpg" />
                                </div>
                                <div class="card-body">
                                    <form action="@Url.Content("~/Login/Index")" method="post">
                                        @Html.AntiForgeryToken()
                                        <div class="form-floating">
                                            <input class="form-control" id="inputEmail" name="NCorreo" type="email" placeholder="name@example.com" value="" />
                                            <label for="inputEmail">Correo</label>
                                        </div>
                                        <div class="form-floating">
                                            <input class="form-control" id="inputPassword" name="NContrasena" type="password" placeholder="Contraseña" autocomplete="off" value="" />
                                            <label for="inputPassword">Contraseña</label>
                                        </div>
                                        <div class="form-floating">
                                            @{
                                                if (ViewBag.Error != null)
                                                {
                                                    <div class="alert alert-danger" role="alert">
                                                        @ViewBag.Error
                                                    </div>
                                                }
                                            }
                                        </div>
                                        <div class="d-grid gap-2">
                                            <button class="btn btn-primary" type="submit">Ingresar</button>
                                        </div>
                                    </form>
                                </div>
                                <div class="card-footer text-center py-3">
                                    <a id="publicidad_cuenta" href="@Url.Action("Registrarse","Login")" style="color: #a5c9c9;">
                                        Crear cuenta
                                    </a>
                                    <hr />
                                    <a id="publicidad_cuenta" href="@Url.Action("Index","Tienda")" style="color: #a5c9c9;">
                                        Ir a Tienda
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </main>
        </div>
    </div>

    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.js"></script>
     <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap-icons/bootstrap-icons.js"></script>
</body>
</html>
